/* common shared styles */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* header related styles */
header {
    background-color: #E554731A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 97px;
    padding-right: 240px;
    padding-left: 240px;
    height: 85vh;
}

.banner-content {
    padding-top: 197px;
    padding-bottom: 147px;
    width: 50%;
}

.banner-image {
    margin-top: 50px;


}

.banner-heading {
    color: #272727;
    font-size: 80px;
    font-weight: 900;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* feature section related styles */

.feature-section {
    height: 100vh;
}

.feature-title {
    margin-top: 178px;
    text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}

.feature-description {
    margin-top: 24px;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 22px 18px;
}

.feature-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    padding: 0px 240px;
    gap: 24px;
}

.first-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.second-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.third-image {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.flower {
    height: 500px;
    width: 400px;
    margin-bottom: -42px;
    padding: 40px 30px;
}

.image-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    background-color: white;
    padding-top: 30px;
}

/* sign up section related styles */

.sign-up-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 215px;
    padding-right: 423px;
    padding-left: 429px;
    height: 70vh;
    margin-top: -40px;
}

.sign-up-content {
    padding-top: 230px 0px 342px 423px;
    /* padding-bottom: 147px; */
    width: 50%;
    text-align: center;

}

.sign-up-flower-image {
    padding: 100px 0px;

}

.sign-up-title {
    color: #272727;
    font-size: 40px;
    font-weight: 700;
}

.sign-up-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
}

span {
    color: #E55473;
}

/* Instagram section related styles */
.instagram {
    height: 80vh;
    background-color: #FFF;
}

.instagram-section {
    /* margin-top: 130px; */
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-top: 130px;
}

.section-description {
    margin-top: 24px;
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 22px 18px;
}

.section-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFF;
    padding: 0px 240px;
    gap: 24px;
}

.image {
   width: 350px;
   height: 400px;
}

.flower {
    height: 500px;
    width: 400px;
    margin-bottom: -42px;
    padding: 40px 30px;
} 
